#about-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    flex-wrap: wrap;

    .single-about {
        width: 75vw;
        border-radius: 5px;
        border: 1px solid black;
        box-shadow: 5px 5px 2px black;
        padding: 10px 25px 25px;
        margin: 25px 0;
    }
}