@import 'keyframes-animation.less';
@import 'navigation.less';

#nav-container {
    div {
        background-color: transparent;
        color: white;
        margin: auto;
        padding-top: 1px;
        .nav-container(200px);

        &.drag-nav {
            .keyframes();
            .animation();

            p {
                margin: 0;
            }
        }
    }
}