@import 'keyframes-animation.less';
@import 'colors.less';
@import 'navigation.less';

div.outer-drop-container {
    display: flex;
    justify-content: center;
    width: 33%;
    margin: 25px 0;

    div.drop-nav {
        border: 1px solid @darklava;
        box-shadow: 5px 5px 2px @darklava;
        .nav-container(5px);
    
        &.dragging {
            .keyframes();
            .animation();
        }
    }

    @media screen and (max-width: 1000px) {
        width: 50%;
    }
}