body {
font-family: 'Play', sans-serif;

    #drop-nav-container {
        margin-top: 15%;
        display: flex;
        justify-content: space-around;
    }

    h1{
        color: pink;
    }

    .home-hide {
        display: none;
    }
}