@import 'colors.less';
@import 'navigation.less';

body {
font-family: 'Play', sans-serif;
color: @darklava;

    #back-home {
        text-decoration: none;
        color: @feldgrau;
    }

    #drop-nav-container {
        margin-top: 15%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    h1 {
        color: @greensheen;
    }

    .home-hide {
        display: none;
    }

    .drag-ball {
        .nav-container(200px);
        background-color: transparent;
        color: white;
        margin: auto;
        padding-top: 1px;
        background-color: black;
    }

    @media screen and (max-width: 1000px) {
        #back-home, h1 {
            font-size: 2.5em;
        }
    }
}